doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.nav 
      h1 
        a.nav-home-link(href='/') Cocktail5
      button.about About
    div.content
      block content
