extends layout

block content
  div.nav-path 
    a( class= "nav-path-links" href="/") Home
    p  / 
    a( class= "nav-path-links" href="/liquors") Liquors
    p  / 
    a( class= "nav-path-links" href="/liquors/create") Create

  div.create-page
    div.form-container
      h1 Add new Liquor

      form#liquor-form.forms(method='POST' action='')
        label(for='name') Liquor
        input#name(type="text" name='name' value= (!liquor ? '' : liquor.name))
        label(for='description') Description
        textarea(type='text' name='description')= `${!liquor ? '' : liquor.description}`
        div.form-buttons
          button(type='submit' class= 'link-button') Create
          a(class= 'link-button' href="/liquors") Cancel

    if errors
      ul 
        for error in errors 
          li!= error.msg 