.forms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max(33%, 500px);
    padding: 1rem;
}

.create-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

.form-container {
    padding: 2rem;
    width: max(50%, 500px);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-buttons {
    display: flex;
    gap: 1rem;
}

.errors {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightcoral;
}